:host {
  display: block;
}

#emailInput {
  margin-left: 5px;
  width: 80%;
  max-width: 640px;
}

.waiting {
  text-align: center;
}

.email-sent {
  line-height: 2;
  margin-bottom: 1em;
}

.email-sent span {
  font-weight: bold;
}

.error{
  color: red;
  margin-left: 5px;
  margin-top: 5px;
}