:host {
  display: block;

  #emailInput {
    width: 80%;
    max-width: 640px;
  }

  .waiting {
    text-align: center;
  }

  .email-sent {
    line-height: 2;
    margin-bottom: 1em;
  }

  .email-sent span {
    font-weight: bold;
  }

  .error{
    color: red;
    margin-left: 0.5em;
    margin-top: 0.5em;
  }

  #emailInput, #loginButton {
    display: inline-block;
  }

  .input-field {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  #loginButton {
  //  flex: 0;
  }
}

@import "../node_modules/ui-fonts/font-awesome-styles";
