.awesome-auth-unauthorized {
  background: #333 url('world-background.png') no-repeat center center fixed;
  background-size: cover;
}

.awesome-auth-unauthorized glg-awesome-auth {
  padding-top: 10em;
}

@media only screen and (max-width : 480px) {
  .awesome-auth-unauthorized glg-awesome-auth::shadow .container {
      padding: 1em;
      margin: 1em;
  }
}
